@font-face { 
    font-family: 'Patrick Hand';
    src: url('../../assets/fonts/Patrick_Hand/PatrickHand-Regular.ttf');
    font-weight: 400;
}

$font-stack: 'Patrick Hand', 'aerial';
$root-font-size: 16px; 