.header { 
    width: 100%;
    height: 4rem;
    padding: 1rem 0rem 1rem 0rem;
    background-color: #B8D8D8;
    display: flex;
    justify-content: center;
    align-items: center;

    &__title { 
        text-align: center;
        color: white;
        margin-right: 0.5rem;
    }

    &__logo { 
        height: 1.5rem;
        width: 1.5rem;
    }
}