.header { 
    width: 100%;
    height: 4rem;
    padding: 1rem 0rem 1rem 0rem;
    background-color: #B8D8D8;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.35);

    &__link {
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    &__title { 
        text-align: center;
        color: white;
        margin-right: 0.5rem;
        text-decoration: none;
    }

    &__logo { 
        height: 1.5rem;
        width: 1.5rem;
    }
}